<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Drivers32</key>
	<array>
		<dict>
			<key>description</key>
			<string>PS/2 keyboard driver, 32bit</string>
			<key>name</key>
			<string>Ps2KeyboardDxe</string>
		</dict>
		<dict>
			<key>description</key>
			<string>PS/2 trackpad driver, 32bit</string>
			<key>name</key>
			<string>Ps2MouseAbsolutePointerDxe</string>
		</dict>
		<dict>
			<key>description</key>
			<string>PS/2 mouse driver, 32bit</string>
			<key>name</key>
			<string>Ps2MouseDxe</string>
		</dict>
		<dict>
			<key>description</key>
			<string>USB mouse driver, 32bit</string>
			<key>name</key>
			<string>USBMouseDxe</string>
		</dict>
		<dict>
			<key>description</key>
			<string>ext2/3 filesystem driver from virtual box, 32bit</string>
			<key>name</key>
			<string>VBoxExt2</string>
		</dict>
		<dict>
			<key>description</key>
			<string>ext4 filesystem driver from virtual box, 32bit</string>
			<key>name</key>
			<string>VBoxExt4</string>
		</dict>
		<dict>
			<key>description</key>
			<string>USB 3.0 driver, 32bit</string>
			<key>name</key>
			<string>XhciDxe</string>
		</dict>
	</array>
	<key>Drivers64</key>
	<array>
		<dict>
			<key>description</key>
			<string></string>
			<key>name</key>
			<string>NvmExpressDxe</string>
		</dict>
		<dict>
			<key>description</key>
			<string>PS/2 mouse driver, 64bit</string>
			<key>name</key>
			<string>Ps2MouseDxe</string>
		</dict>
		<dict>
			<key>description</key>
			<string>USB mouse driver, 64bit</string>
			<key>name</key>
			<string>USBMouseDxe</string>
		</dict>
		<dict>
			<key>description</key>
			<string>ext2/3 filesystem driver from virtual box, 64bit</string>
			<key>name</key>
			<string>VBoxExt2</string>
		</dict>
		<dict>
			<key>description</key>
			<string>ext4 filesystem driver from virtual box, 64bit</string>
			<key>name</key>
			<string>VBoxExt4</string>
		</dict>
		<dict>
			<key>description</key>
			<string>USB 3.0 driver, 64bit</string>
			<key>name</key>
			<string>XhciDxe</string>
		</dict>
	</array>
	<key>DriversUEFI</key>
	<array>
		<dict>
			<key>description</key>
			<string>64bit video driver for Clover GUI allowing to choose more resolutions. It is based on CSM module in UEFI BIOS and requires CSM to be enabled. Note: On some hardware, this may cause Clover to fail to start. It may also be a contributing factor of a kernel panic when waking from sleep. Use with precaution.</string>
			<key>name</key>
			<string>CsmVideoDxe</string>
		</dict>
		<dict>
			<key>description</key>
			<string>This is DataHub protocol support mandatory for MacOSX. Usually it is already present but sometime it may be missed. In this case you should see warning on screen</string>
			<key>name</key>
			<string>DataHubDxe</string>
		</dict>
		<dict>
			<key>description</key>
			<string>64bit driver for support of NVRAM variables needed by MacOSX. Mostly UEFI boot uses hardware NVRAM but in some rare cases this driver is needed. Use it only if you have a problem without it</string>
			<key>name</key>
			<string>EmuVariableUefi</string>
		</dict>
		<dict>
			<key>description</key>
			<string>64bit driver to fix Memory problems on UEFI firmware such as AMI Aptio</string>
			<key>name</key>
			<string>OsxAptioFixDrv</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Simplified variant of OsxAptioFixDrv, 64bit (do not use both together)</string>
			<key>name</key>
			<string>OsxLowMemFixDrv</string>
		</dict>
		<dict>
			<key>description</key>
			<string>64bit driver to support non-usual partition maps such as: hybrid GPT/MBR or Apple Partition Map</string>
			<key>name</key>
			<string>PartitionDxe</string>
		</dict>
	</array>
	<key>Extra</key>
	<array>
		<dict>
			<key>description</key>
			<string>32 bit HFS+ file system driver. Necessary for booting Mac OS X with UEFI. Already present in the boot file when using old motherboard</string>
			<key>name</key>
			<string>HFSPlus</string>
		</dict>
		<dict>
			<key>description</key>
			<string>64 bit HFS+ file system driver. Necessary for booting Mac OS X with UEFI. Already present in the boot file when using old motherboard</string>
			<key>name</key>
			<string>HFSPlus</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Enables starting of FAT modules like boot.efi. Necessary for UEFI based PC</string>
			<key>name</key>
			<string>OsxFatBinaryDrv</string>
		</dict>
		<dict>
			<key>description</key>
			<string>64 bit NFTS file system driver for UEFI. Provides the possibility to load Windows EFI</string>
			<key>name</key>
			<string>NTFS</string>
		</dict>
		<dict>
			<key>description</key>
			<string>64 bit NFTS file system driver. Provides the possibility to load Windows EFI</string>
			<key>name</key>
			<string>NTFS</string>
		</dict>
	</array>
</dict>
</plist>
